/* Popular Post */

.item-snippet {
	display: none;
}

.PopularPosts .item-thumbnail {
	margin: 0;
}

.PopularPosts .popular-posts ul li {
	list-style: none;
	overflow: hidden;
	margin: 0 0 15px;
	padding: 0;
	font-size: 14px;
}

.PopularPosts .popular-posts ul li:last-child {
	margin: 0;
}

#PopularPosts1 .popular-posts,
#PopularPosts2 .popular-posts {
	position: relative;
}

.PopularPosts .popular-posts ul li a {
	color: #222;
}

.PopularPosts .popular-posts ul li a:hover {
	color: #f01d0e;
}

.PopularPosts .item-title {
	display: table-cell;
	vertical-align: middle;
	line-height: normal;
	text-overflow: ellipsis;
	padding: 0 0 0 10px;
}

.PopularPosts .item-thumbnail img {
	display: block;
	float: left;
	width: 72px;
	height: auto;
	padding: 0;
	border-radius: 5px;
}

.popular-posts ul {
	padding-left: 0;
}


/* Iklan 250x300 */

@keyframes Gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

#iklan-sidebar1 {
	background-image: ;
	background-position: 50%;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
	max-width: 100%;
	font-weight: 700;
	overflow: hidden;
	position: relative;
}

#iklan-sidebar1 .buttton1 {
	list-style: none;
	overflow: hidden;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#iklan-sidebar1 .buttton1 a.download1 {
	list-style: none;
	display: inline-block;
	background: #fff;
	color: #f01d0e;
	font-size: 14px;
	font-weight: 200;
	padding: 8px 18px;
	border-radius: 3px;
	overflow: hidden;
}

#iklan-sidebar1 .buttton1 a.download1:hover {
	background: #f01d0e;
	color: #fff;
	overflow: hidden;
}

#iklan-sidebar1 .visible1 {
	margin: 0;
	position: absolute;
	left: 50%;
	margin-right;
	-px;
	top: 40%;
	color: #fff;
	font-size: 25px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	margin: 0;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.07);
	animation: animate 45s linear infinite;
	bottom: -150px;
	z-index: 0;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 10px;
	height: 10px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 10px;
	height: 10px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 10px;
	height: 10px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 130px;
	height: 130px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 15px;
	height: 15px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 5px;
	height: 5px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 130px;
	height: 130px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}
	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

/* Iklan Billboard */

.billboard {
	display: block;
	max-width: 1000px;
	min-width: 970px;
	width: 100%;
	max-height: 300px;
	min-height: 250px;
	height: 100%;
	text-align: center;
	margin: 20px 0;
	padding: 0;
}

@media screen and (max-width:969px) {
	.billboard {
		min-width: 728px;
		min-height: 90px;
	}
}

@media screen and (max-width:727px) {
	.billboard {
		min-width: 336px;
		min-height: 280px;
	}
}

@media screen and (max-width:335px) {
	.billboard {
		min-width: 300px;
		min-height: 250px;
	}
}

@media screen and (max-width:299px) {
	.billboard {
		min-width: 250px;
	}
}

@media screen and (max-width:249px) {
	.billboard {
		min-width: 200px;
		min-height: 200px;
	}
}


/* -- Footer/* -- Footer 3 Coloum -- */

#footer-wrapper {
	width: 100%
}

#footer-wrapper .left {
	float: left;
	width: 34%
}

#footer-wrapper .center {
	float: left;
	width: 34%
}

#footer-wrapper .right {
	float: right;
	width: 32%
}

#footer-wrapper {
	background: #242424;
	;
	background-repeat: repeat-x;
	background-position: top center;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 15px 0;
	color: #dddddd;
	border-top: 5px solid #07ACEC
}

#footer-wrapper .left {
	float: left;
	width: 34%
}

#footer-wrapper .center {
	float: left;
	width: 34%
}

#footer-wrapper .right {
	float: right;
	width: 32%
}

#footer-wrapper .left .widget,
#footer-wrapper .center .widget {
	margin: 0 15px 15px 0;
	clear: both
}

#footer-wrapper .right .widget {
	margin: 0 0 15px 0;
	clear: both
}

#footer-wrapper h2 {
	margin: 0 0 10px 0;
	padding: 0 0 5px;
	border-bottom: 3px solid #555;
	text-transform: uppercase:none;
	position: relative;
	color: #eeeeee
}

#footer-wrapper ul,
#footer-wrapper ol {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0
}

#footer-wrapper li {
	margin: 5px 0;
	padding: 0 0 0 0
}

#footer-wrapper a {
	color: #dddddd
}

#footer-wrapper a:hover {
	color: #ffffff
}

#footer-wrapper h2:before {
	content: "
	"
	;
	position: absolute;
	left: 0;
	width: 180px;
	height: 2px;
	background: #07ACEC;
	bottom: -2px
}

@media screen and (max-width:768px) {
	#footer-wrapper .left {
		float: none;
		width: 100%
	}
	#footer-wrapper .center {
		float: none;
		width: 100%
	}
	#footer-wrapper .right {
		float: none;
		width: 100%
	}
	#footer-wrapper .left .widget,
	#footer-wrapper .center .widget {
		margin: 0 0 15px;
		clear: both
	}
}












